.footer {
  background-color: var(--gray);
}

.heading {
  padding: 36px;
  font-size: 1.6rem;
  text-align: center;
  color: var(--smork-gray);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--black);
}

.nav li {
  margin: 0 8px;
}

.nav li::after {
  content: "|";
  margin-left: 16px;
  color: var(--smork-gray);
}

.nav li:last-child:after {
  content: none;
}

.nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--smork-gray);
}

.nav a:hover {
  text-decoration: underline;
}
